/* New Translucency styles for the navigation bar */
.navBar {
    /*background-color: rgba(0, 0, 0, 0.5) !important; */
    background-color: rgba(8, 8, 9, 0.546) !important;
    /*backdrop-filter: blur(5px);*/
  }
  .navlink {
    color: #fff !important;
  }
/* Base styles */
.detailCard {
  background-color: transparent;
  /*background-image: url('plbackground.jpeg');*/
  margin: auto;
  
}

.cardHeader {
    font-weight: bold;
    background: linear-gradient(to right, 
                rgba(11, 11, 11, 0.104), 
                rgba(0, 43, 153, 0.659));
    text-align: center;
    color: white;
    /*backdrop-filter: blur(3px);*/
  
    /*font-weight: bold;
    Option 1: Keep the gradient 
    background: linear-gradient(to right, black, blueviolet);
    Option 2: Use translucent background 
    background-color: rgba(20, 10, 68, 0.581) !important;
    backdrop-filter: blur(3px); */

  }
  
.mainCardBody {
    background: white;
    color: #000000;
    /*margin-bottom: 1rem;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
      }

    .cardImg {
      max-width: 80%; 
      height: auto; 
      margin: auto;
      display: block; 

    }
    

  .attributeName {
      font-weight: bold;
      margin-right: 5px; 
    }

  
  
/* For larger screens, maintain the default styling */
@media (min-width: 992px) {
  .listCustom {
    font-weight: bold;
    color: #000000;
    background-color: white;
  }
  .listItemCustom {
    background-color: transparent;
    border: none;
  margin-left: auto;
  margin-right: auto;

  }
}
  
/* For smaller screens, apply flex and wrap  */
@media (max-width: 991px) {
  .listCustom {
    display: flex; 
    flex-wrap: wrap; /*  wrap items */
    font-weight: bold;
    color: #000000;
    background-color: white;
    gap: 10px; /* between items */
    
    
  }
  .listItemCustom {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    width: calc(33% - 10px); /* 3 items per row - gap */
    text-align: center; 
  
  }
}
  
  .starLink, .planetLink {
    color: #100f0f; 
    margin: 0 0.5rem;
    transition: color 0.3s ease;
  }
  
  .starLink:hover, .planetLink:hover {
    color: blue;
    text-decoration: underline; /* No underline on hover */

  }
  
  .transparent-bg {
    background-color: rgba(0, 0, 0, 0.717);
  }
