
.cardLink {
    display: block;
    width: 100%;
    text-decoration: none;
}

.card {
    transition: transform 0.2s, background-color 0.2s; /* transition for hover effect */
    cursor: pointer;
    background-color: white;
}

/* dictates size for screens smaller than 768px */
@media (max-width: 768px) {
    .card {
      max-width: 65%; /* Cap card at 65% of container size */
    }
  }

.cardLink:hover .card {
    background-color: rgba(0, 123, 255, 0.5); /* Transparent blue on hover */
    transform: scale(1.05); /* Slightly increase card size */
}


.cardLink:hover .cardTitle,
.cardLink:hover .cardText {
    color: white; 
    text-decoration: underline; 
    text-decoration-color: white;
}

  
.pageText {
  font-weight: bold;
  /*background: linear-gradient(to right, 
              rgba(11, 11, 11, 0.104), 
              rgb(0, 43, 153));*/
              background-color: rgba(2, 40, 130, 0.566); /* Transparent blue on hover */
              text-align: center;
  color: white;
  padding-top: 10px;
}
  