/* Adjust button position */
.text-center {
  margin-top: -10px; /* Adjust as needed */
}

.lead {
  background: rgba(0, 5, 16, 0.533);
  padding: 10px;
}

.carousel-caption {
  bottom: -10px; /* Adjust as needed */
}

.carousel-image {
  display: block; /* Replaces flex, as we don't need to use flex properties on the image itself */
  margin-left: auto; /* These two margins allow for horizontal centering of the image */
  margin-right: auto;
  max-height: 500px; /* Maximum height of the image */
  object-fit: contain; /* Ensures the entire image is visible, scaled down if necessary */
}

.frosted-glass {
  background-color: rgba(1, 0, 0, 0.671); /* White background with 50% opacity */
  border-radius: 10px; /* Optional: Adds rounded corners to your container */
  padding: 1rem; /* Optional: Provides some space inside the container */
}